.bigHeader {
    font-style: Georgia, serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 30px;
    
}
.image {
    width: 100%;
    outline: 5px solid  rgb(170, 57, 57);
}

.vitebsk {
    color:  rgb(170, 57, 57);
}
